# ===== Python =====
__pycache__/
*.py[cod]
*$py.class

# ===== Django =====
db.sqlite3
*.log
media/
staticfiles/

# ===== Virtual Environment =====
venv/
env/

# ===== IDE / Editor =====
.vscode/
.idea/

# ===== OS Files =====
.DS_Store
Thumbs.db
